<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>House Price Estimation</title>
  </head>
  <body>
    <h1>House Price Estimation</h1>
    <form method="post" action="/Result">
      <label for="County">County:</label>
      <input type="text" name="County" required />
      <br />
      <br />

      <label for="Neighborhood">Neighborhood:</label>
      <input type="text" name="Neighborhood" required />
      <br />
      <br />

      <label for="bedrooms">Bedrooms:</label>
      <input type="text" name="bedrooms" required />
      <br />
      <br />

      <label for="bathrooms">Bathrooms:</label>
      <input type="text" name="bathrooms" required />
      <br />
      <br />

      <label for="Size">Size:</label>
      <input type="text" name="Size" required />
      <br />
      <br />

      <label for="Quality">Quality:</label>
      <select type="text" name="Quality" required>
        <option value="House"></option>
        <option value="House">Good</option>
        <option value="Mansion">Moderate</option></select>
      <br />
      <br />

      <label for="Type">Type:</label>
      <select type="text" name="Type" required>
        <option></option>
        <option value="Apartment">Apartment</option>
        <option value="Villa">Villa</option>
        <option value="Bungalow">Bungalow</option>
        <option value="Maisonette">Maisonette</option>
        <option value="House">House</option>
        <option value="Mansion">Mansion</option>
        <option value="flat">Flat</option></select>
      <br />
      <br />

      <label for="Furnished">Furnished:</label>
      <select type="text" name="Furnished" required>
        <option></option>
        <option value="Unfurnished">Unfurnished</option>
        <option value="Furnished">Furnished</option>
        <option value="Semi-Furnished">Semi-Furnished</option></select>
      <br />
      <br />
      <button type="submit">Predict</button>
    </form>
  </body>
</html>
